@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.btn-validar {
  color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-radius: 100px;
  width: 250px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  padding: 10px;
}

.form-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.form-flex>label {
  margin-top: 20px;
  color: rgb(19, 81, 180);
  font-weight: 700;
  text-align: center;
  margin-bottom: 18px;
  font-size: 18px;
}

.form-flex>i {
  font-size: 70px;
  color: #1351b4;
}

.bg-blue {
  background: rgb(19, 81, 180);
  -webkit-box-shadow: 3px 3px 15px 1px #000000;
  box-shadow: 3px 3px 15px 1px #000000;
}

.img-logo {
  max-width: 150px;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
  font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link {
  font-weight: 700;
  color: #ffffffc9;
}

.navbar-dark .navbar-nav .nav-link:hover {
  background: #092756;
  border-radius: 5px;
  color: #fff;
}

.navbar-dark .navbar-nav .active {
  background: #092756;
  border-radius: 5px;
  color: #fff;
}

.card {
  -webkit-box-shadow: 3px 3px 15px 1px #000000;
  box-shadow: 3px 3px 15px 1px #000000;
}

.card-title {
  margin-bottom: 0.5rem;
  font-weight: bold;
}


.footer {
  text-align: center;
  background: #1351b4;
  color: #fff;
  padding: 10px;
  margin-top: 3%;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
}


.label-btn-diploma {
  display: inline-block;
  color: white !important;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;

  background-color: rgb(17, 29, 125);
  border-color: rgba(255, 255, 255, 0);
  border-width: 1px;
  border-style: solid;
  border-radius: 100px;
  width: 250px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  padding: 10px;
}

.btn-voltar {
  border-width: 1px;
  border-style: solid;
  border-radius: 100px;
  width: 250px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  padding: 10px;
  color: #fff;
}

.cards-home .card {
  padding: 0;
  border: none;
}

.cards-home .card>.card-header {
  background-color: #010088;
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.cards-home .card>.card-body>.card-title {
  text-align: center;

}

.cards-home .card>.card-body>a {
  width: 100%;
  font-size: 1.1rem;
}

.mb-8{
  margin-bottom: 5rem;
}
main{
  min-height: 65vh;
}

.main-validator .card{
  margin-bottom: 3%;
}
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    .btn-voltar{
      display: none !important;
    }

    .report h1{
      font-size: 1.2rem;
    }

    .report h4{
      font-size: 1rem;
    }

    header{
      background-color: #010088 !important;
    }
}